#notification {
	display:none;
}

form {
	._notification {
		font-size: 1.25em;
		padding: 5px 0 5px 5px;
	}
	._progress {
		@extend ._notification;
		color: blue;
	}
    ._error {
	   @extend ._notification;
	   color: red;
    }
    ._success {
	@extend ._notification;
	color:green; 
    }
}
