{% import 'admin/model/inline_list_base.html' as base with context %}

{% macro render_field(field) %}
  {% set model = field.object_data %}
  {% if model and model.path %}
    {{ field.form.id }}
    <img src="{{ url_for('static', filename='images/' + model.path) }}" style="max-width: 300px;"></img>
   <p><h4>/static/images/{{ model.path }}</h4></p>
     {% if model.is_top %}
        <h4>Title image</h4>
      {% endif %}
   
  {% else %}
    {{ field }}
  {% endif %}
{% endmacro %}

{{ base.render_inline_fields(field, template, render_field) }}

