<!DOCTYPE HTML>
<!--
     Editorial by HTML5 UP
     html5up.net | @ajlkn
     Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
   -->
<html>
  <head>
    {% include 'meta.html' %}
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
      <div id="main">
	<div class="inner">

	  <!-- Header -->
          {% include 'header.html' %}

	  <!-- Content -->
	  <section>
	    <header class="main">
	      <h2>{{ object.title }}</h2>
	    </header>
            <h4>{{ object.sub_title }}</h4>

	    <span class="image main"><img src="{{ url_for('static', filename="images/")}}{{ object.image_title }}" alt="" /></span>

      	    <p>{{ object.description|markdown }}</p>
            {% if object.is_form %}

                {% include 'form.html' %}
            {% endif %}
            {% if object.is_location %}
            <div class="row uniform">
              {{ location|osm_map(class="12u$ 12$(small)", zoom=12) }}
            </div>
            {% endif %}
          </section>

	</div>
      </div>

      <!-- Sidebar -->
      {% include 'sidebar.html' %}

    </div>

    <!-- Scripts -->
    {% include 'scripts.html' %}

  </body>
</html>
