<h3>Заполните форму.</h3>
<form id ="form_id" method="post" action="#">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <span id="notification"></span>
  <div class="row uniform">
      <div class="6u$ 12u$(small)">
        <input type="text" name="name" id="name" value="" placeholder="Name" required />
    </div>
    <div class="6u$ 12u$(small)">
      <input type="email" name="email" id="email" value="" placeholder="Email" required />
    </div>
    <div class="6u$ 12u$(small)">
      <input type="tel" name="tel" id="tel" value="" placeholder="Tel" pattern="[+()- 0-9]{10,18}" required />
    </div>

    <!-- Break -->

    <div class="12u$">
      <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
    </div>
    <!-- Break -->
    <div class="12u$">
      <ul class="actions">
	<li><input type="submit" value="Регистрация" class="special" /></li>
	<li><input type="reset" value="Сбросить" /></li>
      </ul>
    </div>
  </div>
</form>
