<header id="header">
  <a href="http://backtoblackproject.ru/">
    <span class="image object"><img src="/static/images/logo_text.png" alt="logo" /></span>
  </a>
  <ul class="icons">
    <li><a href="https://vk.com/backtoblackproject" class="icon fa-vk"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/backtoblackproject" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/backtoblackproject/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
</header>
