<!DOCTYPE HTML>
<!--
Editorial by HTML5 UP
html5up.net | @troll80
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>

    {% include 'meta.html' %}
    {% block title %}{% endblock %}
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
	<div class="inner">

	  <!-- Header -->
          {% include 'header.html' %}
	  <!-- Banner -->
	  <section id="banner">
	    <div class="content">
	      <header>
		<h3>{{ object_list[0].title }}</h3>
		<p>{{ object_list[0].sub_title }}</p>
	      </header>
	      <p>{{ object_list[0].preview|markdown }}.</p>
	      <ul class="actions">
		<li><a href="detail/{{ object_list[0].slug }}" class="button big">Зарегистрироваться</a></li>
	      </ul>
	    </div>
	    <span class="image object">
	      <img src="{{ url_for('static', filename='images/') }}{{ object_list[0].image_title }}" alt="" />
	    </span>
	  </section>

	  <!-- Section -->
	  <section>
            {% include 'section_icons.html' %}
	  </section>

	  <!-- Section -->
	  <section>
	    <header class="major">
	      <h2>Ближайшие события.</h2>
	    </header>
	    <div class="posts">
              {% for object in object_list %}
	      <article>
		<a href="#" class="image"><img src="{{ url_for('static', filename='images/') }}{{ object.image_title }}" alt="" /></a>
		<h4>{{ object.title }}</h4>
		<ul class="actions">
		  <li><a href="detail/{{ object.slug }}" class="button">Подробнее</a></li>
		</ul>
	      </article>
              {% endfor %}
	    </div>
	  </section>

	</div>
      </div>

      <!-- Sidebar -->
      {% include 'sidebar.html' %}
    </div>
    <!-- Scripts -->
    {% include 'scripts.html' %}
  </body>
</html>
