
<!-- Menu -->
<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="http://backtoblackproject.ru/">Homepage</a></li>
    <li><a href="http://backtoblackproject.ru/admin">Admin</a></li>
</nav>
