<title>Back to black</title>
<meta charset="utf-8" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="images/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="csrf-token" content="{{ csrf_token() }}">
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.min.css') }}">
<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->

<meta property="og:url"                content="http://backtoblackproject.ru/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Back To Black - Dance and rhythm" />
<meta property="og:description"        content="Семинары и мастер-классы. Афро-бразильские, африканские и современные танцевальные техники, имеющие африканские корни. Ритмы и перкуссия." />
<meta property="og:image"              content="http://backtoblackproject.ru/static/images/logo.png" />
