<!DOCTYPE HTML>
<!--
     Editorial by HTML5 UP
     html5up.net | @ajlkn
     Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    {% include 'meta.html' %}
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
      <div id="main">
	<div class="inner">

	  <!-- Header -->
          {% include 'header.html' %}

	  <!-- Content -->
	  <section>
	    <header class="main">
	      <h1>{{ page.title }}</h1>
	    </header>

      	    <p>{{ page.text|markdown }}</p>

          </section>

	</div>
      </div>

      <!-- Sidebar -->
      {% include 'sidebar.html' %}
    </div>
    <!-- Scripts -->
    {% include 'scripts.html' %}
  </body>
</html>
