<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/skel.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/util.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/main.min.js') }}"></script>
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/lib/ie/respond.min.js') }}"></script><![endif]-->
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
