<header class="major">
  <h2>Подробнее о классах</h2>
</header>
<div class="features">
  {% for model in about %}
  <article>
    <img class="icon" src='{{ url_for("static", filename= "images/"+model.image) }}' />
    <div class="content">
      <h3>{{ model.title }}</h3>
      <p>{{ model.text }}</p>
    </div>
  </article>
  {% endfor %}

</div>
