<div id="sidebar">
  <div class="inner">

    <!-- Search -->
    <!--section id="search" class="alt">
        <form method="post" action="#">
	  <input type="text" name="query" id="query" placeholder="Search" />
        </form>
    </section -->

    <!-- Menu -->
    {% include 'menu.html' %}

    <!-- Section -->
    <section>
      <header class="major">
        {{ sidebar_content|markdown }}
      <ul class="contact">
	<li class="fa-envelope-o"><a href="#">backtoblackproject@gmail.com</a></li>
	<li class="fa-phone"><a href="tel:+7 968 892 3851">+7 968 892 3851</a></li>
	<li class="fa-home">{{ address }}<br/>
	  Moscow. RU</li>
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; Troll: <a href="https://www.facebook.com/batenov.com">Design</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
</div>
